*.pyo
*.pyc
smactbot/__pycache__/db_functions.cpython-39.pyc
smactbot/__pycache__/handlers.cpython-39.pyc
smactbot/__pycache__/interfaces.cpython-39.pyc
smactbot/__pycache__/smactbot.cpython-39.pyc
smactbot/__pycache__/utils.cpython-39.pyc
smactbot/__pycache__/vars.cpython-39.pyc
code/smactbot/__pycache__/
smactbot/__pycache__/
__pycache__
code/executable/dist/main.exe
code/executable/build/main/xref-main.html
code/executable/build/main/warn-main.txt
code/executable/build/main/Tree-02.toc
code/executable/build/main/Tree-01.toc
code/executable/build/main/Tree-00.toc
code/executable/build/main/PYZ-00.toc
code/executable/build/main/PYZ-00.pyz
code/executable/build/main/PKG-00.toc
code/executable/build/main/main.pkg
code/executable/build/main/main.exe.manifest
code/executable/build/main/EXE-00.toc
code/executable/build/main/base_library.zip
code/executable/build/main/Analysis-00.toc
code/executable/main.spec
code/executable/main.exe
